<% include ../partials/header.ejs %>
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading text-center">Editando el libro - <%=libro.nombre%></h4>
    </div>

    <!-- el formulario se envía a la ruta de los libros ya que en ella se procesara, es importante si el formulario tiene un campo de archivo que tenga la propiedad enctype="multipart/form-data" ya que si no procesara la carga del archivo, importante en el action la ruta como esta plateada ya que hay que dar 2 saltos atrás para retornar a la url libros -->
    <form method="post" action="../actualizar" enctype="multipart/form-data">  

        <input type="text" name="id" value="<%=libro.id%>">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" class="form-control" type="text" name="nombre" value="<%=libro.nombre%>">
        </div>

        <div class="form-group">
            <label for="archivo">Imagen</label>
            <img class="img-thumbnail" src="../../images/<%=libro.imagen%>" width="60" alt="" style="margin-bottom: 10px;">
            <input id="archivo" class="form-control-file" type="file" name="archivo">
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>

    </form>
<% include ../partials/header.ejs %>